
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
	font-family: 'Helvetica', sans-serif
}

/*
	Header

*/

#header {
	position: relative;
	display: flex;
	align-items: center;
    justify-content: center;
	background-image: url(Images/background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 1080px;
}

#header .scroll-down {
	display: block;
	position: absolute;
	bottom: 0;
	right: 5%;
	text-align: center;
	z-index: 6;
	animation-name: wiggle;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes wiggle {
	0% {
		bottom: 15px;
	}

	100% {
		bottom: 40px;
	}
}

#arrow-icon {
	font-size: 100px;
	color: white;
}

.overlay-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .35);
}

.container h1 {
    position: relative;
    color: white;
    font-size: 75px;
    font-family: 'Charm', cursive;
    text-align: center;
    bottom: 100px
}

.container h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 50%; 
	padding-top: 20px; 
	padding-bottom: 5px;
	border-bottom: 1px solid #FFFFFF;
}

#title {
    position: relative;
    color: white;
    font-size: 75px;
    font-family: 'Charm', cursive;
    text-align: center;
    bottom: 150px
}

@media screen and (min-width: 1600px) {

    .container h1 {
        bottom: 0px
    }

    #title {
        bottom: 50px
    }
}


/*
	Profile

*/

main {
	height: 1500px;
	width: 100%;
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content:center;
}

#profile {
	margin-top: 50px;
	width: 75%;
	height: 50%;
	text-align: center
}

#profile h2 {
	font-size: 3.2em;
}

#profile-sub-heading {
	font-weight: bold	
}

#profile-footer {
	height: 25%;
}

#icons {
	height: 25%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 100px;
}

#linked-in {
	height: 50px;
	width: 50px;
}

#github {
	height: 50px;
	width: 50px;
}

#resume {
	height: 50px;
	width: 50px;
}

#pic {
    height: 50%;
    width: 100%;
}

#profile-pic {
    height: 100%;
    filter: grayscale(100%);
    shape-outside: circle(50%);
}

@media screen and (min-width: 600px) {

    #pic {
        height: 50%;
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    #profile-pic {
        max-width: 700px;
        padding-left:100px;
    }
}

@media screen and (min-width: 850px) {
	main {
		height: 700px;
		width: 100%;
		background: whitesmoke;
		display: flex;
		flex-direction: row;
	}

	#profile {
		margin:0;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	#profile-main {
		width: 75%;
		text-align: left;
	}

	#profile-footer {
		margin-top: 30px;
		height: 25%;
		width: 75%;
		display: flex;
		flex-direction: row;
		justify-content: left;
	}

	#icons {
		margin-top: 0;
		width: 50%;
		display: flex;
		justify-content: space-between;
	}

	#pic {
		height: 100%;
		width: 50%;
		text-align: right;
	}

    #profile-pic {
        float: right;
    }
}

/*
	Development
*/

#development {
	display: flex;
	flex-direction: column;
	height: 1500px;
	width: 100%;
	align-items: center;
	font-size: 1rem;
}

#development-tiles {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	font-size: 1rem;
}

#development h2 {
	font-size: 2.8rem;
	text-align: center;
	margin: 3rem;
	font-weight: 700;
}

.tile {
    height: 25%;
    width: 75%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    border: 1px #999999;
    border-style: inset;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}

.tile:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.tile h3 {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3rem;
	width: 100%;
    z-index: 2
}

.text {
    position: absolute;
    color: white;
    z-index: 2;
    text-align: left;
    margin-left: 15px;
    top: 35%;
}

.tile-img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    transition: all 1s;
}

.tile:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.5);
    z-index: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

@media screen and (min-width: 700px) {
    .text {
        font-size: 1.45rem;
        text-align: center
    }
}

@media screen and (min-width: 1000px) {

    #development {
        height: 900px
    }

	#development-tiles {
		flex-direction: row;
		align-items: flex-start;
		height: 100%;
		width: 100%;
	}

	.tile {
		height: 100%;
		width: calc(1/3);
		margin: 0
	}

    .text {
        position: absolute;
        height: 100%;
        width: 100%;
        font-size: 2rem;
        top: 25%;
        line-height: 1.5;
        padding: 15px
    }
}

/*
	Photography

*/

#photography {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 850px;
	width: 100%;
	background: whitesmoke;
}

#photography-effects {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	max-width: 1500px;
	align-items: center;
	text-align: center;
}

#photography-info {
	height: 50%;
	width: 75%;
	margin-bottom: 25px;
}

#photography-info h2 {
	font-size: 2.8rem;
	font-weight: 700;
	margin-top: 15px;
}

#photography-info p {
	margin-top: 15px;
	font-size: 1rem;
}

#photography-info a {
	margin: 15px;
}

#img-effects {
	height: 50%;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.fan-photo {
	height: auto;
	width: 100%;
	position: relative;
}

.fan-photo img {
	height: auto;
	width: 100%;
	max-height: 400px;
	max-width: 400px;
	position: absolute;
	border: 1px solid white;
	box-shadow: 0 1px 3px -2px rgba(0,0,0,.5);
	transition: all 0.3s ease-out;
	left: 0;
	right: 0;
}

.fan-photo img:nth-child(1) {
	z-index: 999;
}

.fan-photo img:nth-child(2) {
	transform: rotate3d(0,0,1,10deg);
}

.fan-photo img:nth-child(3) {
	transform: rotate3d(0,0,1,-10deg);
}

.fan-photo img:nth-child(4) {
	transform: rotate3d(0,0,1,10deg);
}

.stack-photo {
	display: none;
}

#photography a{
	margin-bottom: 50px
}

@media screen and (min-width: 550px) {
    #photography-info {
        height: 50%;
        width: 75%;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 650px) {

    #photography-effects {
        height: 80%;
    }

    #photography-info {
        height: 40%;
        margin-bottom: 10px;
    }

    .fan-photo img {
        left: 15%;
    }
}

@media screen and (min-width: 550px) {
    .fan-photo img {
        left: 20%;
    }
}

@media screen and (min-width: 1000px) {
    #photography {
        display: none;
    }
}

/*
	Pho2

*/

#photography2 {
	display: none
}

#camsection {
	height: 85%;
	width: 30%;
	min-width: 500px;
	max-width: 700px
}

#cam {
	height: 50%;
	width: 35%;
	position: absolute;
	min-width: 600px;
	max-width: 700px
}

#photo-text-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 75%;
}

#photo-title {
	position: relative;
	bottom: 65px;
	border-top: 2px solid #B68C2F;
	border-bottom: 2px solid #B68C2F;
}

#photo-text h2 {
	font-size: 2.5rem;
	margin: 25px;
}

#photo-text p {
	position: relative;
	font-size: 1.5rem;
	height: 200px;
	width: 600px
}

#photo-text button {
    position: relative;
    height: 50px;
    width: 200px;
    border-radius: 25px;
}

@media screen and (min-width: 1000px) {

    #photography2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 850px;
        width: 100%;
        background: white;
        /*background-image: linear-gradient(white, #808080);*/
        background-image: linear-gradient(#808080, white);
    }
}


/*
    Pricing
*/

#pricing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-image: linear-gradient(#808080, white);*/
    /*background-image: linear-gradient(white, #808080);*/
}

#price-calculator {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 75%;
    max-width: 600px;
    min-width: 400px;
    border: double;
    align-items: center;
    color: black;
    background-color: rgba(0, 0, 0, .1);
}

.marketing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /*margin: 25px;*/
    /*background:red;*/
}

#select-pages {
    height: 45%;
    width: 75%;
    font-size:1.2rem;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    height: 400px;
    width: 100%;
    margin: 15px;
    font-size: 1.1rem;
}

.category label input {
    position: relative;
    right: 25px;
}

input[type=radio] {
    padding: 0.5em;
    -webkit-appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
}

input[type=radio]:checked {
    display: inline-block;
    background-color: #000;
}

.calculator-row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 100%;
    /*background-image: linear-gradient(to top left, black, white);*/
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border: solid 1px;
    border-color: lightgray;
    width: 85%;
    height: 45px;
    text-align: left;
    font-size: 1.5rem;
}

.toggle-label {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    background:white;
}

.toggle-label::before {
    content: '';
    display: block;
    position: absolute;
    height:32px;
    width: 32px;
    left: 10px;
    top: 5px;
    border: 2px solid black;
    border-radius: 100px;
    transition: background-color .2s;
}

.toggle-label-checked::before {
    content: '';
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    left: 10px;
    border: 3px solid black;
    border-radius: 100px;
    transition: background-color .2s;
    background-color: black;
}

.hide-checkbox {
    position: absolute;
    left: -9999px;
}

#price-result{
    display:flex;
    align-items:center;
    font-size:1.6rem;
    height:100px
}

@media screen and (min-width: 1600px) {

    #price-calculator {
        display: flex;
        flex-direction: column;
        color: black;
        background-color: rgba(0, 0, 0, .1);
        height: 65%;
        width: 75%;
        max-width: 1500px;
        border: double;
        align-items: center;
    }

    .marketing {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 100%;
    }

    .category {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.4rem;
        flex-wrap: wrap;
        height: 150px;
        width: 1250px;
        padding: 0;
        background: white;
        padding-left: 50px;
        padding-top: 15px;
    }

}

/*
	Contact

*/
#form {
    height: 800px;
    width: 100%;
}

#googlemaps {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}

#contactform {
	height: 500px;
	width: 300px;
	position: relative;
	top: -700px;
	left: 10%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:black;
	padding:25px;
	margin:50px 0;
	height: 500px;
	width: 300px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
	resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
	color:#888;
}
:-moz-placeholder {
	color:#888;
}
::-moz-placeholder {
	color:#888;
}
:-ms-input-placeholder {
	color:#888;
}

/*
	Recommended

*/

/*#recommended {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 925px;
	margin: 15px;
}

#youtube-channels {
	height: 50%;
	width: 100%;
	border: 10px solid #1c1c20;
}

#youtube-videos {
	background: #1c1c20;
	height: 50%;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#channel-title {
	text-align: center;
	position: relative;
	color: white;
	text-align: center;
	list-style: none;
	width: 100%;
	height: 10%;
	font-size: 25px;
	top: 5px
}

#channel {
	text-align: center;
	list-style: none;
	border-radius: 25px;
	border: 2px solid #00b4d9;
	padding: 20px;
	width: 95%;
	height: 10%;
	margin: 5px;
}

#channel p {
	position: relative;
	color: white;
	bottom: 10px
}

iframe {
	width: 100%;
	height: 100%
}

@media screen and (min-width: 675px) {

	#recommended {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: 900px;
		margin: 15px;
		justify-content: center
	}

	#youtube-channels {
		height: 50%;
		width: 50%;
		order: 1
	}

	#youtube-videos {
		background: #1c1c20;
		height: 50%;
		width: 25%;
		list-style: none;
		margin: 0;
		padding: 0;
		order: 2
	}

	#channel-title {
		text-align: center;
		position: relative;
		color: white;
		text-align: center;
		list-style: none;
		width: 100%;
		height: 10%;
		font-size: 25px;
		top: 10px
	}

	#channel {
		text-align: center;
		list-style: none;
		border-radius: 25px;
		border: 2px solid #00b4d9;
		padding: 20px;
		width: 95%;
		height: 10%;
		margin: 5px;
	}

	#channel p {
		position: relative;
		color: white;
		bottom: 10px;
		font-size: 15px
	}
}

@media screen and (min-width: 1200px) {

	#recommended {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: 900px;
		margin: 15px;
		justify-content: center
	}

	#youtube-channels {
		height: 50%;
		width: 50%;
	}

	#youtube-videos {
		height: 50%;
		width: 25%;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#channel-title {
		text-align: center;
		position: relative;
		color: white;
		text-align: center;
		list-style: none;
		width: 100%;
		height: 10%;
		font-size: 25px;
		top: 10px
	}

	#channel {
		text-align: center;
		list-style: none;
		border-radius: 25px;
		border: 2px solid #00b4d9;
		padding: 20px;
		width: 95%;
		height: 5%;
		margin: 5px;
	}

	#channel p {
		position: relative;
		color: white;
		bottom: 10px;
		font-size: 15px
	}

}*/

/*
	Footer
*/

	footer {
		height: 150px;
		width: 100%;
		background: #1c1c20;
	}